<section class="hero">
  <div class="container">
    <div class="row nav-wrapper">
      <nav class="navbar navbar-custom">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                  <%= image_tag("lh-logo2.png") %>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#how">How it works</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#pricing">Pricing</a></li>
                <!-- <li><a href="#clients">Clients</a></li> -->
                <li>
                  <%= link_to "Sign In", new_user_session_path, class: ""%>
                </li>
                <li>
                  <%= link_to "Sign Up", new_user_registration_path, class: "btn-signup btn-primary"%>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav> <!-- end nav -->
    </div> <!-- End row -->

    <div class="row hero-content text-center">
      <h1 class="">Automated Trading for p2p Markets</h1>
      <div id="macbook">
          <div id="tour" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
          <ol class="carousel-indicators">
              <li data-target="#tour" data-slide-to="0" class="active"></li>
              <li data-target="#tour" data-slide-to="1"></li>
              <li data-target="#tour" data-slide-to="2"></li>
          </ol>

                <div class="carousel-inner">
                  <!-- slide item -->
                    <div class="item active">
                      <%= image_tag("stock1.jpg") %>
                    </div>
                    <!-- slide item -->
                  <div class="item">
                    <%= image_tag("stock2.jpg") %>
                  </div>
                  <!-- slide item -->
                  <div class="item">
                    <%= image_tag("stock3.jpg") %>
                  </div>
                </div> <!-- /.carousel-inner -->

            </div> <!-- /#tour -->
        </div>
    </div>
  </div> <!-- end container -->
</section> <!-- end hero -->
</header>




<section class="section features" id="how">
  <div class="container text-center">

    <div class="row">
      <div class="col-sm-12">
        <h2 class="title">How It Works ?</h2>
        <p class="slogan">You're a smart investor who needs better tools. We're here to help.</p>
      </div>
    </div> <!-- End row -->

    <div class="row pt80">
      <div class="col-sm-4">
          <div class="features-2">
              <%= image_tag("drawing-tablet.png") %>
          </div>
          <div>
            <h3>Historical Backtesting</h3>
            <p>We allow you to back test your theories and trading strategies on past loan performence.</p>
          </div>
      </div>

      <div class="col-sm-4">
          <div class="features-2">
              <%= image_tag("code-window.png") %>
          </div>
          <div>
            <h3>Implement Your Ideas</h3>
            <p>Input your trading logic into our proprietary trading engine to enter & exit the p2p markets to maximize your returns.</p>
          </div>
      </div>

      <div class="col-sm-4">
          <div class="features-2">
            <%= image_tag("clock.png") %>
          </div>
          <div>
            <h3>We Execute the Orders</h3>
            <p>We pleverage smart technology stack to ensure your p2p trades are efficiently executed across all the major p2p platforms.</p>
          </div>
      </div>

    </div>
  </div>
</section>





<!-- <section class="content-wrap bg-light section pb0" id="features">
<div class="container">
      <div class="row">

          <div class="col-sm-6">
              <div class="feature-sec">
                <h3>Inbox &amp; Contact-list App</h3>
                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat arcu ut orci porta, eget porttitor felis suscipit. Sed a nisl ullamcorper, tempus augue at, rutrum lacus. </p>
                <a href="#" class="use-btn btn-primary">Get Started</a>
              </div>
          </div>

          <div class="col-sm-6 featured-img">
            <%= image_tag("screen-3.png", alt:"Features-img", class:"img-responsive") %>
          </div>

    </div>
</div>
</section> -->




<section class="section" id="pricing">
  <div class="container">

    <div class="row text-center">
    <div class="col-sm-12">
      <h2 class="title">Simple Pricing</h2>
      <p class="slogan">Work on joint projects. Access time entries of your fellow team members and run reports for the entire team.</p>
    </div>
  </div>
  <!-- end row -->

      <div class="row pt80">
          <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-sm-4">
                  <div class="price_card text-center">
            <div class="header bg-info">
              <span class="price">0.2%</span>
              <span class="name">Curious Investor</span>
            </div>
            <ul class="price-features">
              <li>5 Trading Stragies</li>
              <li>Up to $5k under management</li>
              <!-- <li>No Domain</li> -->
              <!-- <li>1 User</li> -->
            </ul>
            <button class="btn btn-info w-md">Sign Up</button>
          </div> <!-- end Pricing_card -->
                </div> <!-- end col -->

                <div class="col-sm-4">
                  <div class="price_card text-center">
            <div class="header bg-pink">
              <span class="price">0.3%</span>
              <span class="name">Smart Investor</span>
            </div>
            <ul class="price-features">
              <li>12 Strategies</li>
              <li>Up to $15k under management</li>
              <!-- <li>2 Domain</li> -->
              <!-- <li>10 User</li> -->
            </ul>
            <button class="btn btn-pink w-md">Sign Up</button>
          </div>
          <!-- <span class="tip">* Most popular!</span> -->
                </div> <!-- end col -->

          <div class="col-sm-4">
            <div class="price_card text-center">
              <div class="header bg-purple">
                <span class="price">0.5%</span>
                <span class="name">Educated Investor</span>
              </div>
              <ul class="price-features">
                <li>30 Strategies</li>
                <li>Up to $45k under management</li>
                <!-- <li>10 Domain</li> -->
                <!-- <li>100 User</li> -->
              </ul>
              <button class="btn btn-purple w-md">Sign Up</button>
            </div> <!-- end Pricing_card -->
          </div> <!-- end col -->


          </div> <!-- end row -->
        </div> <!-- end Col-10 -->
      </div> <!-- end row -->
  </div> <!-- end Container -->
</section>
<!-- END Pricing -->



<!--

clients and reviews

<section class="bg-light section" id="clients">
    <div class="container">
      <div class="row text-center">
    <div class="col-sm-12">
      <h2 class="title">Trusted by Thousands</h2>
      <p class="slogan">Lorem ipsum dolor sit amet, consectetur adipis.</p>
      <ul class="list-inline client-list pt40">
        <li><a href="" title="Microsoft"><%= image_tag("clients/microsoft.png") %></a></li>
        <li><a href="" title="Google"><%= image_tag("clients/google.png") %></a></li>
        <li><a href="" title="Instagram"><%= image_tag("clients/instagram.png") %></a></li>
        <li><a href="" title="Converse"><%= image_tag("clients/converse.png") %></a></li>
      </ul>
    </div>
  </div>
    </div>
</section>
-->





<footer class="footer">
    <div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-3">
      <a class="navbar-brand-footer" href="#">
        <%= image_tag("lh-logo2.png") %>
      </a>
    </div>
    <div class="col-lg-4 col-lg-offset-3 col-md-7">
      <ul class="nav navbar-nav">
        <li><a href="#how">How it works</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li><a href="#clients">Clients</a></li>
      </ul>
    </div>
    <div class="col-lg-2 col-md-2">
      <ul class="social-icons">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </div>
  </div> <!-- end row -->
</div> <!-- end container -->
</footer>
<!-- End Footer -->


<script type="text/javascript">
//jQuery for page scrolling feature - requires jQuery Easing plugin
$(function() {
    $('.navbar-nav a').bind('click', function(event) {
        var $anchor = $(this);
        $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top - 0
        }, 1500, 'easeInOutExpo');
        event.preventDefault();
    });
});
</script>

