<%= search_form_for(@q, url: search_loans_path, method: :post) do |f| %>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :loans_dti_gteq %>
        <%= f.search_field :loans_dti_gteq %>
      </div>

      <div class="form-group">
        <%= f.label :loans_dti_lteq %>
        <%= f.search_field :loans_dti_lteq %>
      </div>
    </div>
  </div>

  <%= f.submit %>
<% end %>
