<h1>Loans#search</h1>

<%= render partial: "/loans/search_form" %>
<%= render partial: "/loans/summary" %>

<br>
<br>

<table class="table table-striped">
  <thead>
    <th>LoanId</th>
    <th>Interest Rate</th>
    <th>Funded Amount</th>
  </thead>

  <% @loans.each do |loan| %>
    <tr>
      <td><%= loan.loan_id %></td>
      <td><%= loan.int_rate %></td>
      <td><%= loan.loan_amnt %></td>
    </tr>
  <% end %>
</table>
