<%= form_for(@strategy) do |f| %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <% value = @strategy.search_params.blank? ? [] : JSON.pretty_generate(@strategy.search_params) %>

      <div class="form-group">
        <%= f.label :search_params %>
        <%= f.text_area :search_params, value: value, class: "form-control" %>
      </div>
    </div>
  </div>

  <%= f.submit %>
<% end %>
