<h3>Show Strategy</h3>

<%= link_to("Edit", edit_strategy_path(@strategy)) %>
<br>
<br>
<%= link_to("Delete", strategy_path(@strategy), method: :delete) %>
<br>
<br>

<!-- render the summary page -->

<h5>Results Strategy</h5>
<pre>
Loans: <%= @loans.try(:count) %>
Notes: <%= @notes.try(:count) %>
</pre>

<ul>
</ul>

<pre>
<%= @strategy.attributes.to_yaml %>
</pre>
