<h3>Show Strategy</h3>

<%= link_to("Edit", edit_strategy_path(@strategy), class: "btn btn-default" ) %>
<br>
<br>
<%= link_to("Delete", strategy_path(@strategy), method: :delete, data: { confirm: t('delete?') }, class: "btn btn-default") %>
<br>
<br>
<%= link_to("Exercise", exercise_strategy_path(@strategy), class: "btn btn-default") %>
<br>
<br>


<!-- render the summary page -->

<h5>Results Strategy</h5>
<pre>
Loans: <%= @loans.try(:count) %>
Notes: <%= @notes.try(:count) %>
</pre>



<br>

<pre>
<%= @strategy.attributes.to_yaml %>
</pre>
