<!DOCTYPE html>
<html>
<head>
  <title>LendingHedge</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= render :partial => "/shared/head" %>
</head>


<body>
<%= yield %>
<%= javascript_include_tag 'application' %>
</body>
</html>

