<!DOCTYPE html>
<html>
<head>
  <title>LendingHedge</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= render :partial => "/shared/head" %>
</head>

<body>
  <%= render partial: '/shared/auth_left_side' %>

  <section class="content">
    <%= render partial: "/shared/auth_header" %>

    <div class="wraper container-fluid">
      <%= yield %>
    </div>

    <%= render partial: "/shared/auth_footer" %>
  </section>

  <%= javascript_include_tag 'application' %>
</body>

</html>

